
<h1>About Us</h1>
<img mat-card-image  src="assets/vita.jpg" alt="VITA">
<div class="row">
	<div class="col-md-8 content-area">
    <h2>Our Origin</h2>
    <p class="text-justify">We are a part of Upanagar Shikshan Mandal (USM),
       a pioneering educational trust in the western suburbs of Mumbai. Commencing in 1956, 
       USM has blossomed into 14 educational institutes that impart quality education
        from primary school to Post-Graduate courses.</div>
        <p>C-DAC has today emerged as a premier R&D organization in IT&E (Information Technologies and Electronics) 
          in the country working on strengthening national technological capabilities in the context of global 
          developments in the field and responding to change in the market need in selected foundation areas.
            In that process, C-DAC represents a unique facet working in close junction with MeitY to realize
             nation’s policy and pragmatic interventions and initiatives in Information Technology. 
             As an institution for high-end Research and Development (R&D), C-DAC has been at the forefront
              of the Information Technology (IT) revolution, constantly building capacities in emerging/enabling
               technologies and innovating and leveraging its expertise, caliber, skill sets to develop and deploy
                IT products and solutions for different sectors of the economy, as per the mandate of its parent,
                 the Ministry of Electronics and Information Technology, Ministry of Communications and Information
                  Technology, Government of India and other stakeholders including funding agencies, collaborators,
                   users and the market-place. </p>


<div class="bar">
		<h2 >Quick Links</h2>
		<ul>
			
			<li><a  mat-button color="primary" routerLink="/placement">Placement</a></li>
			<li><a  mat-button color="primary" routerLink="/contact">contact</a></li>
			<li><a  mat-button color="primary" routerLink="/faq">FAQ's</a></li>
		</ul>
</div>

