
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Ketki Acharya</mat-card-title>
    <mat-card-subtitle><b>Skills</b>: C,Web-Programming,.Net</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/ketkimam.png" alt="vita">
  <mat-card-content>
    <p>
      Corporate Trainings conducted for Deloitte, Accenture, Capgemini, Tata Consulting Engineering Ltd.
    </p>
  </mat-card-content>

</mat-card>
<br><br>



<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nitin Vijaykar</mat-card-title>
    <mat-card-subtitle><b>Skills</b>: C++,Core & Enterprise Java</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/nitinsir.png" alt="vita">
  <mat-card-content>
    <p>
      Corporate Trainings conducted for L&T Infotech, Geometrix, Capgemini, BNP Paribas
    </p>
  </mat-card-content>
  
</mat-card>

<br><br>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Jayant Ponkshe</mat-card-title>
    <mat-card-subtitle><b>Skills</b>: Software Project Manager/Assistant</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/ponkshesir.png" alt="vita">
  <mat-card-content>
    <p>
      With over 25 years experience in the Software Industry of which 10 years with Patni as Solution
       Architect / Project Manager, Jayant ensures that each student is exposed to the project execution
        methodology that the industry uses.
    </p>
  </mat-card-content>
  
</mat-card>

<br><br>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Sanjay Vyas</mat-card-title>
    <mat-card-subtitle><b>Skills</b>: Data Structure,Data Base</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/vyassir.png" alt="vita">
  <mat-card-content>
    <p>
      Sanjay has been in the field of IT since 1983 and has worked on a wide variety of technologies.
       He created and propagated a radically different and effective training methodology called Concept 
       Visualization which leads to instant grasping, deeper understanding of the scenario for developers.
        Sanjay has been a speaker for Microsoft events since he started speaking at TechED in 1997.
    </p>
  </mat-card-content>

</mat-card>

<br><br>
<div class="pradeep">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Pradeep Tripathi</mat-card-title>
    <mat-card-subtitle><b>Skills</b>: Big Data,AI,ML & AWS</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/tripathisir.png" alt="vita">
  <mat-card-content>
    <p>
      An industry expert in BigData, AI/ML and Business analytics with experience in successfully implementing 
      solutions for fortune 100 enterprises.As a data enthusiast, he has worked on solutions in healthcare, travel,
       insurance, media, and others verticals, enabling organizations to make data-driven decisions.


    </p>
  </mat-card-content>

</mat-card>
</div>
<br><br>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Vikram Nayak</mat-card-title>
    <mat-card-subtitle><b>Skills</b>: Soft Skills</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/vikramsir.png" alt="vita">
  <mat-card-content>
    <p>
      Corporate trainings at Mercedes Benz, Force Motors, Honda Motors, 
      Hyundai Motors, Mahindra Group, Tata Group, Vodafone, Airtel, HDFC, 
      Capital First, Siemens, Godrej Group, Bajaj Allianz, You Broadband, Case New Holland, GMR, IRB
    </p>
  </mat-card-content>

</mat-card>

<br><br>


<div class="amar">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Amar Panchal</mat-card-title>
      <mat-card-subtitle><b>Skills</b>: Python Programming,Data Structure,Operating System</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/amarsir.jpeg" alt="vita">
    <mat-card-content>
      <p>
        Amar has 11 years of experience in the software Industry and 10 years in teaching. 
        His unique, innovative style of teaching enable students to be a developers – real good ones!
      </p>
    </mat-card-content>
  
  </mat-card>
  </div>
  <br><br>