

<div class="row">
	<div class="col-md-6">
		
		<h2>Need Help<mat-icon>contact_support</mat-icon></h2>
		<ul>
			
			<li><a  mat-button color="primary" routerLink="/courses">Courses</a></li>
			<li><a  mat-button color="primary" routerLink="#">Privacy Policy</a></li>
			<li><a  mat-button color="primary" routerLink="#">Terms and Conditions</a></li>
		</ul>
	</div>
</div>
	<div class="foot">
		<div class="bottom"><h4>Address:-</h4>Authorised Training Centre
5th Floor, Vidyanidhi Education Complex, Vidyanidhi Road,
 Juhu Scheme Andheri (W), Mumbai 400 049 ,India.
<br>
<mat-icon>phone</mat-icon>&nbsp; <b>Landline</b>: 022-26255629 / 26705498
<br>
<mat-icon>phone_iphone</mat-icon>&nbsp;<b>Mobile</b> : 9029435311 / 9653446213
<br>
<mat-icon>email</mat-icon>&nbsp;<b>Email</b> : <a routerLink="#">helpdeskvita2018@gmail.com</a>
</div>
</div>

<div class="col-12" style="text-align:center;color:white;background-color: black">&copy; Computer Seekho</div>