
<div class="container">
  <h1>USM's 
    Shriram Mantri
  Vidyanidhi Education Complex,Mumbai
</h1>
</div>

     <div>
     <mat-card class="example-card">
      <mat-card-header>
        
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>CDAC SMVITA Authorised Training Center</mat-card-title>
      </mat-card-header>
      <img mat-card-image  src="assets/home1.png" alt="VITA">
      <mat-card-content>
        <h3> <p>The Centre for Development of Advanced Computing is an Autonomous
          Scientific Society of the Ministry
           of Electronics and Information
            Technology, of the Government
             of India. The National Centre
              for Software Technology, ER&DCI
               and CEDTI were merged into C-DAC in 2003.</p></h3>         
      </mat-card-content>
    </mat-card>
 
  

</div>