
       
    <div class="container">
        <h1>Login</h1>
             <form action="" method="post" name="login">
                     <div class="form-group">
                        <label for="Useid">User ID &nbsp;</label>
                        <input type="userid" name="userid"  class="form-control" id="userid" aria-describedby="emailHelp" placeholder="Enter User ID">
                     </div>
                     <br>
                     
                     <div class="form-group">
                        <label for="password">Password &nbsp;</label>
                        <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                     </div>
                     <br>
                     <div class="col-md-12 text-center ">
                     <button mat-flat-button color="accent" (click)="btnClick()">Login &emsp;</button>
                        <button mat-flat-button color="primary" (click)="btnClick()">Registration</button>
                     </div>
              </form>
  </div>



